{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <title>Board</title>

</head>

<body>
    <div id="wrap">
        <div id="hearder_wrap">
            <div class="hearder_container">
                <div class="logo">
                    <a href=""></a>
                </div>
                <nav>
                    <ul>
                        <li><a class="" href="{% url 'home' %}">Home</li>
                        {%if user.is_authenticated%}
                        <li><a href="#">{{user.username}}</a></li>
                        <li><a href="{% url 'photo:create' %}">사진 올리기</a></li>
                        <li><a href="{% url 'photo:mylist' %}">내사진 리스트</a></li>
                        <li><a href="javascript:{document.getElementById('logout').submit()}">Logout</a></li>
                        <form id="logout" method="POST" action="{% url 'accounts:logout' %}">
                            {% csrf_token %} <input type="hidden" />
                        </form>
                    </ul>

                </nav>
                {%else%}
                <li><a href="{%url 'accounts:login'%}">Login</a></li>
                <li><a href="{%url 'accounts:signup'%}">회원가입</a></li>
                {%endif%}

            </div>
        </div>
        <div id="content_wrap">
            <div class="content_container">
                {% for object in object_list %}
                <!-- <div class="content_container"> -->
                <div class="card">
                    <div class="card_header">
                        <div class="title">
                            <h3>{{object.title}}</h3>
                        </div>
                        <div class="author">
                            <h3>{{object.author}}</h3>
                        </div>
                    </div>
                    <div class="image-wrapper">
                        <div class="thumbnail">
                            <div class="center">
                                <img src=" {{ object.image.url }}" style="height: auto" ; width="auto" ; alt="사진">
                            </div>
                        </div>
                    </div>
                    <div class="card_body">
                        <p>
                            {{ object.summary }}
                            <!-- 문자열 길이 -->
                            {% if object.len > 17 %}
                            <a href="{% url 'photo:detail' object.id %}">..more</a>
                            {% endif %}
                        </p>
                    </div>
                    <ul class="list">
                        <li class="list_item"><a href="{%url 'photo:like' object.id %}"
                                class="btn_like {%if user in object.like.all %} active {%endif%} "> 좋아요</a>
                            <!-- 좋아요 수 출력 -->
                            {%if object.like.all.count == 0%}
                            <b>0</b>
                            {%elif object.like.all.count%}
                            <b>{{object.like.all.count}}</b>
                            {%endif%}
                        </li>
                        <li>생성일 : {{ object.created|date:'Y.m.d H:i'}}</li>
                        <!-- <li>수정일 : {{ object.updated }}</li> -->
                    </ul>
                    <div class="card_body">
                        <a href="{% url 'photo:detail' object.id %}">본문보기</a>

                        <!-- 권한 확인 -->
                        {% if user == object.author %}
                        <a href="{% url 'photo:update' object.id %}">수정하기</a>
                        <a href="{% url 'photo:delete' object.id %}">삭제하기</a>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- Pagination -->
            <div class="paginator_container">
                <nav>
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                        <li>
                            <a href="?page={{ page_obj.previous_page_number }}">
                                <span>
                                    < </span> </a> </li> {% else %} <li class="disabled" style="display: none">
                                        <a href="#">
                                            <span>
                                                < </span> </a> </li> {% endif %} {% for page in page_range %} <li
                                                    {% if page == page_obj.number %} class="_active" {% endif %}>
                                                    <a href="?page={{ page }}">{{ page }}</a>
                        </li>
                        {% endfor %}

                        {% if page_obj.has_next %}
                        <li>
                            <a href="?page={{ page_obj.next_page_number }}">
                                <span> > </span>
                            </a>
                        </li>
                        {% else %}
                        <li {% if not page_obj.has_next %}class="disabled" {% endif %}>
                            <a href="#">
                                <span> > </span>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
            <!-- Pagination -->
        </div>

        <div id="footer_wrap">
            <div class="footer_container">
                footer_container
            </div>
        </div>
    </div>
    </div>
</body>

</html>
